<div class="page-container">
  <div class="logo-container">
    <img src="assets/img/Telnet.png" alt="Telnet Logo" class="logo-image">
  </div>
  <div class="form-container">
    <form [formGroup]="registrationForm" (ngSubmit)="createaccount()">
      <div class="form-group">
        <input formControlName="nom" class="form-control" id="name" placeholder="Nom" required>
      </div>
      <div class="form-group">
        <input formControlName="prenom" class="form-control" id="prenom" placeholder="Prénom" required>
      </div>
      <div class="form-group">
        <input formControlName="email" class="form-control" id="email" placeholder="Adresse mail" required>
        <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="text-danger">
          <div *ngIf="registrationForm.get('email')?.errors?.['required']">Email est requis</div>
          <div *ngIf="registrationForm.get('email')?.errors?.['email']">Email n'est pas valide</div>
        </div>
      </div>
      <div class="form-group">
        <input formControlName="password" type="password" class="form-control" id="motDePasse" placeholder="Mot de passe" required>
        <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="text-danger">
          <div *ngIf="registrationForm.get('password')?.errors?.['required']">Mot de passe requis</div>
        </div>
      </div>
      <div class="form-group">
        <select formControlName="role" class="form-control" id="role" required>
          <option value="" disabled selected>Choisir un rôle</option>
          <option value="ADMIN">Admin</option>
          <option value="DIRECTEUR">Directeur</option>
          <option value="CHEFDEPROJET">Chef de projet</option>
          <option value="RQUALITE">Responsable Qualité</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-user btn-block">Inscription</button>
      <div *ngIf="errorMessage" class="error-message text-danger">{{ errorMessage }}</div>
      <hr>
    </form>
    <div class="text-center">
      <a class="small" href="forgotpassword">Mot de passe oublié?</a>
    </div>
    <div class="text-center">
      <a class="small" href="login">Vous avez déjà un compte? Connectez-vous!</a>
      <div *ngIf="showModal" class="custom-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'show': showModal}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Veuillez attendre la confirmation de votre compte par mail !</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" (click)="redirectToLogin()">OK</button>
                </div>
            </div>
        </div>
    </div>
<style>/* Suppression de toutes les marges et paddings */
 /* Suppression de toutes les marges et paddings */
/* Suppression de toutes les marges et paddings */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le débordement horizontal */
}

/* Conteneur de la page avec l'image de fond */
.page-container {
    height: 100vh; /* S'assurer que l'arrière-plan couvre toute la hauteur de la vue */
    width: 100vw; /* S'assurer que l'arrière-plan couvre toute la largeur de la vue */
    display: flex;
    flex-direction: column; /* Alignement vertical */
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    background-image: url('assets/img/devv.jpg'); /* Image d'arrière-plan */
    background-size: cover; /* Assurez-vous que l'image couvre toute la page */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

/* Logo */
.logo-container {
    display: flex;
    justify-content: center; /* Centre le logo */
    margin-bottom: -60px; /* Espacement sous le logo */
}

.logo-image {
    width: 100%; /* Permet au logo de prendre toute la largeur de son conteneur */
    max-width: 400px; /* Augmenter la largeur maximale du logo */
    height: auto; /* Garde les proportions */
}

/* Conteneur du formulaire */
.form-container {
    /* Retirer la carte */
    max-width: 900px; /* Largeur maximale du formulaire */
    width: 100%; /* S'assure que le formulaire prend toute la largeur possible */
    padding: 20px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
}

/* Champs de formulaire */
.form-control {
    border: 1px solid #ced4da; /* Bordure du champ */
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    width: 100%; /* S'assure que le champ prend toute la largeur possible */
    margin-bottom: 15px; /* Espacement entre les champs */
}

/* Bouton */
.btn-user {
    font-size: 1.1rem;
    padding: 0.75rem 0.75rem;
    margin-top: 15px;
}

/* Centre le texte */
.text-center {
    text-align: center;
}

/* Message d'erreur */
.error-message {
    margin-top: 10px;
}
.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    visibility: hidden; /* Masqué par défaut */
    opacity: 0; /* Masqué par défaut */
    transition: visibility 0s, opacity 0.2s linear; /* Transition pour le fade-in */
}

.custom-modal.show {
    visibility: visible; /* Visible lorsque la classe 'show' est ajoutée */
    opacity: 1; /* Opacité pleine lorsque visible */
}

  </style>
