<body class="bg-gradient-primary">
  <div class="container custom-container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-5">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <img src="assets/img/Telnet.png" alt="Telnet Logo" class="mb-4" style="width: 200px; height: auto;">
              </div>
              <form [formGroup]="registrationForm" (ngSubmit)="createaccount()">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input formControlName="nom" class="form-control" id="name" placeholder="Enter Name" required>
                  </div>
                  <div class="col-sm-6">
                    <input formControlName="prenom" class="form-control" id="prenom" placeholder="Prenom" required>
                  </div>
                </div>
                <div class="form-group">
                  <input formControlName="email" class="form-control" id="email" placeholder="Enter Email" required>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input formControlName="password" type="password" class="form-control" id="motDePasse" placeholder="Enter Password" required>
                  </div>
                  <div class="col-sm-6">
                    <select formControlName="role" class="form-control" id="role" required>
                      <option value="" disabled selected>Select Role</option>
                      <option value="ADMIN">Admin</option>
                      <option value="DIRECTEUR">Directeur</option>
                      <option value="CHEFDEPROJET">Chef de projet</option>
                      <option value="RQUALITE">Responsable Qualité</option>
                    </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                <hr>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgotpassword">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .custom-container {
      margin-top: -150px;
    }
  </style>
</body>