
<style>
.navbar-dropdown-item {
    margin-right: 100px; /* Ajustez la valeur selon vos besoins */
}.text-left img {
    margin-left: -100px; /* Ajustez la valeur pour déplacer le logo */
}</style>
 <div id="wrapper">
  
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
            </div>
            <div class="sidebar-brand-text mx-3">Menu</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
        
               
                <span >Activités</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">
              <i class="fas fa-fw fa-table"></i>
              <span>Déconnexion</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="forgetpassword">
            <i class="fas fa-fw fa-table"></i>
            <span>Mot de passe oublié ?</span></a>
    </li>
          
    </ul>
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
    
      <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
              </button>
              <div class="container custom-container">
              <!-- Topbar Search -->
              <div class="text-left">
                  <img src="assets/img/Telnet.png" alt="Telnet Logo" class="center" style="width: 200px; height: auto;">
                </div>
              </div>
            
          </nav>
            <!-- End of Topbar -->
  
            <!-- Begin Page Content -->
            <div class="container-fluid">
  
                
                <h2>Liste des Activités</h2>
                <div class="row">
                  <div class="col-xl-4 col-md-6 mb-4" *ngFor="let activite of activites">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <a [routerLink]="['/activites', activite.idA]">
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ activite.nomA }}</div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                               
                               
                            <!-- Card Body -->
                           
            </div>
        </div>
    </div>
  </div>