
<style>
    .navbar-dropdown-item {
        margin-right: 100px;
        .custom-container {
      margin-top: -150px;
      h2 {
  cursor: pointer; /* Change le curseur en pointeur pour indiquer qu'il est cliquable */
}.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Valeur très élevée pour le pop-up */
}
.custom-container{
    position: center;
    margin-left: 5000px;

   
  
}

.popup-content {
  background: white; /* Couleur de fond du contenu du pop-up */
  padding: 20px; /* Ajoutez un peu d'espacement */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre pour donner de la profondeur */
}

.add-project-header {
  color: #003366; /* Bleu marine */
  font-size: 1.2em; /* Taille un peu plus petite */
  text-align: right; /* Aligner à droite */
  cursor: pointer; /* Pour indiquer qu'il est cliquable */
}
.main-interface {
  z-index: 1; /* Ou pas de z-index */
}
.add-project-header.hovered {
  text-decoration: underline; /* Facultatif : effet lors du survol */
}
h2.hovered {
  text-decoration: underline; /* Souligne le texte lorsque la classe hovered est appliquée */
}
    } /* Ajustez la valeur selon vos besoins */
    }</style>
    <div id="wrapper">
    
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Telnet</div>
            </a>
      
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
      
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                   
                    <span >Dashboard</span>
                </a>
            </li>
      
            <!-- Divider -->
            <hr class="sidebar-divider">
      
            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
      
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>
      
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>
      
            <!-- Divider -->
            <hr class="sidebar-divider">
      
            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>
      
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login">Login</a>
                        <a class="collapse-item" href="register">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>
      
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>
      
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>
      
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
      
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
      
            <!-- Sidebar Message -->
           
      
        </ul>
        <!-- End of Sidebar -->
      
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
      
            <!-- Main Content -->
            <div id="content">
      
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="container custom-container">
                    <!-- Topbar Search -->
                    <div class="text-center">
                        <img src="assets/img/Telnet.png" alt="Telnet Logo" class="center" style="width: 200px; height: auto;">
                      </div>
                    </div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
      
      
                        
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
      
                    </ul>
      
                </nav>
                <!-- End of Topbar -->
                <div class="app-container" [ngClass]="{'hidden': showEditModal}">
                    <div class="main-interface">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                <div> <h2>Taux des NCs interne et externe Instantané</h2>
                        <canvas id="chartNC"></canvas>
                        <h2>Taux des NCs interne et exterme Semestrielle</h2>
                        <canvas id="chartNCS"></canvas>
                        <h2>Satisfaction client</h2>
                        <canvas id="chartSatisfaction"></canvas>
                        <h2>DDE par semestre</h2>
                        <canvas id="chartDDE"></canvas>
                        <h2>Nombre de Run Hardware</h2>
                        <canvas id="chartNombreRun"></canvas>
                      </div>
                    
                      <h2 (mouseenter)="hovered = true" (mouseleave)="hovered = false"
                      [ngClass]="{'hovered': hovered}" 
                      (click)="showAddProjectForm = true"
                      style="color: #003366; font-size: 1.2em; text-align: right; cursor: pointer;">
                      Ajouter un nouveau projet ?
                  </h2>

<div *ngIf="showAddProjectForm">
  <form (ngSubmit)="ajouterProjet()" class="user">
    <div class="form-group">
      <input type="text" [(ngModel)]="nouveauProjet.nomP" name="nomP" class="form-control form-control-user" placeholder="Nom du projet" required>
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="nouveauProjet.descriptionP" name="descriptionP" class="form-control form-control-user" placeholder="Description" required></textarea>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <input type="date" [(ngModel)]="nouveauProjet.datedebutP" name="datedebutP" class="form-control form-control-user" placeholder="Date de début" required>
      </div>
      <div class="col-sm-6">
        <input type="date" [(ngModel)]="nouveauProjet.datefinP" name="datefinP" class="form-control form-control-user" placeholder="Date de fin" required>
      </div>
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="nouveauProjet.methodologie" name="methodologie" class="form-control form-control-user" placeholder="Méthodologie" required>
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="nouveauProjet.objectifs" name="objectifs" class="form-control form-control-user" placeholder="Objectifs" required></textarea>
    </div>
    <div class="form-group">
      <select [(ngModel)]="nouveauProjet.typeprojet" name="typeprojet" class="form-control form-control-user" placeholder="Type de projet" required>
        <option value="" disabled selected>Type de projet</option>
        <option value="Produit">Produit</option>
        <option value="Forfait">Forfait</option>
        <option value="Régie">Régie</option>
      </select>
    </div>
    <div class="form-group" *ngIf="isDirecteur">
      <select [(ngModel)]="chefDeProjetNom" name="chefDeProjetNom" class="form-control form-control-user" placeholder="Chef de projet" required>
        <option value="" disabled selected>Choisir le Chef de projet</option>
        <option *ngFor="let chef of chefsDeProjet" [value]="chef.nom">{{ chef.nom }}</option>
      </select>
    </div>
    <div class="form-group">
      <select [(ngModel)]="responsableQualiteNom" name="responsableQualiteNom" class="form-control form-control-user" placeholder="Responsable qualité" required>
        <option value="" disabled selected>Choisir le Responsable qualité</option>
        <option *ngFor="let rq of responsablesQualite" [value]="rq.nom">{{ rq.nom }}</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="nomC" name="nomC" class="form-control form-control-user" placeholder="Nom du client" required>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Ajouter Projet</button>
    <hr>
  </form>
</div>
<h2>Liste des projets</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Methodology</th>
      <th>Objectives</th>
      <th>Type</th>
      <th>Responsible Quality</th>
      <th>Project Manager</th>
      <th>Satisfaction Client</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let projet of projets">
      <td><a [routerLink]="['/projects', projet.idP, 'phases']">{{ projet.nomP }}</a></td>
      <td>{{ projet.descriptionP }}</td>
      <td>{{ projet.datedebutP | date }}</td>
      <td>{{ projet.datefinP | date }}</td>
      <td>{{ projet.methodologie }}</td>
      <td>{{ projet.objectifs }}</td>
      <td>{{ projet.typeprojet }}</td>
      <td>{{ projet.responsableQualiteNom }}</td>
      <td>{{ projet.chefDeProjetNom }}</td>
      <td>{{ projet.satisfactionClient }}: {{ projet.valeurSatisfaction }}</td>
      <td>
        <button class="btn btn-outline-primary btn-sm" (click)="ouvrirModalModification(projet)">
            <i class="fas fa-pen"></i>
        </button>
        <button class="btn btn-danger btn-sm" (click)="confirmerSuppression(projet)">
            <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="popup" *ngIf="showEditModal">
    <div class="popup-content">
      <div class="edit-modal">
        <div class="modal-content">
          <span class="close" (click)="fermerModal()" aria-label="Close">&times;</span>
          
          <form (ngSubmit)="modifierProjet()">
            <h3>Modifier le Projet</h3>
        
            <div class="form-group">
                <label for="nomP">Nom du projet:</label>
                <input type="text" id="nomP" [(ngModel)]="projetSelectionne.nomP" name="nomP" class="form-control" required>
            </div>
        
            <div class="form-group">
                <label for="descriptionP">Description:</label>
                <textarea id="descriptionP" [(ngModel)]="projetSelectionne.descriptionP" name="descriptionP" class="form-control"></textarea>
            </div>
        
            <div class="form-group">
                <label for="datedebutP">Date de début:</label>
                <input type="date" id="datedebutP" [(ngModel)]="projetSelectionne.datedebutP" name="datedebutP" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="datefinP">Date de fin:</label>
                <input type="date" id="datefinP" [(ngModel)]="projetSelectionne.datefinP" name="datefinP" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="methodologie">Méthodologie:</label>
                <input type="text" id="methodologie" [(ngModel)]="projetSelectionne.methodologie" name="methodologie" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="objectifs">Objectifs:</label>
                <textarea id="objectifs" [(ngModel)]="projetSelectionne.objectifs" name="objectifs" class="form-control"></textarea>
            </div>
        
            <div class="form-group">
                <label for="typeprojet">Type de projet:</label>
                <select [(ngModel)]="projetSelectionne.typeprojet" name="typeprojet" class="form-control" id="typeprojet">
                    <option value="Produit">Produit</option>
                    <option value="Forfait">Forfait</option>
                    <option value="Régie">Régie</option>
                </select>
            </div>
        
            <div class="form-group">
                <label for="satisfactionClient">Indice de Satisfaction Client:</label>
                <select [(ngModel)]="projetSelectionne.satisfactionClient" name="satisfactionClient" class="form-control" id="satisfactionClient">
                    <option value="SI1">SCI1</option>
                    <option value="SI2">SCI2</option>
                </select>
            </div>
        
            <div class="form-group">
                <label for="valeurSatisfaction">Valeur de Satisfaction Client:</label>
                <input type="number" id="valeurSatisfaction" [(ngModel)]="projetSelectionne.valeurSatisfaction" name="valeurSatisfaction" class="form-control">
            </div>
        
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        </form>
  
  <div class="popup" *ngIf="showDeleteModal">
    <div class="popup-content">
      <div class="delete-modal">
        <div class="modal-content">
          <span class="close" (click)="fermerModalSuppression()" aria-label="Close">&times;</span>
          <p>Tous les fichiers associés à ce projet (phase, checklist, analyse causale...) seront supprimés. Voulez-vous continuer ?</p>
          <button (click)="supprimerProjet()">Oui, supprimer</button>
          <button (click)="fermerModalSuppression()">Annuler</button>
        </div>
      </div>
    </div>
  </div>
                    </div>